* {
  box-sizing: border-box;
}

body, .body {
  min-height: 4000px; // только для демонстрации прокрутки
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;

  &--no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  max-width: 1142px;
  margin: 0 auto;

  @include mq($tablet) {
    max-width: none;
    width: 95%;
  }

  @include mq($mobile) {
    width: calc(100% - 30px);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
