.submenu {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 30px;
  color: $blue2;

  @include mq(1023) {
    display: block;
    padding: 0 15px;
  }

  &__item-link {
    display: block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    color: inherit;
    text-align: center;
    transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;

    @include mq(1023) {
      position: relative;
      padding: 0 60px 0 0;
      font-size: 15px;
      text-align: left;
    }

    &:hover {
      color: $violet1;
    }

    &:active {
      opacity: 0.4;

      @include mq(1023) {
        opacity: 1;
      }
    }

    &--active {
      .submenu__arrow-button svg {
        transform: rotate(180deg);
      }

      + .submenu__subsubmenu {
        max-height: 600px;
      }
    }
  }

  &__item-link-text {
    @include mq(1023) {
      display: block;
      padding: 7px 0;
    }
  }

  &__arrow-button {
    display: none;

    @include mq(1023) {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
    }

    svg {
      @include mq(1023) {
        width: 20px;
      }
    }
  }

  &__subsubmenu {
    @include transition(max-height);
  }
}
